<% layout("/layouts/boilerPlate")%>
<div class="row mt-3">
  <div class="col-8 offset-2">
  <h3>Listing Details</h3>
</div>
  <div class="card col-6 offset-3">
    <img style="height:30vh" src="<%=details.image.url%>" class="card-img-top" alt="Image">
    <div class="card-body">
      <p class="card-text"><b><%=details.title%></b><br>
      <%=details.description%>
      <br>
      &#8377; <%= details.price.toLocaleString("en-IN")%>
      <br>
      <%=details.location%>
      <br>
      <%=details.country%>
    </p>
    </div>
  </div> 
</div>
<div class="btns">
  <a class="btn btn-dark col-1 offset-2" href="/listings/<%=details._id%>/edit" >Edit</a>
  
  <form method="post" action="/listings/<%=details._id%>?_method=DELETE">
      <button class="btn btn-dark offset-2 add-btn">Delete</button>
  </form>
 </div> 

