<% layout("/layouts/boilerPlate")%>
<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  const listing = <%- JSON.stringify(details) %>;
</script>

<div class="row mt-3">
  <div class="col-8 offset-2">
  <h3><%=details.title%></h3>
</div>
  <div class="card listing-card col-6 offset-3">
    <img style="height:30vh" src="<%=details.image.url%>" class="card-img-top" alt="Image">
    <div class="card-body">
      <p class="card-text"><i>Owned by <%=details.owner.username%></i></p>
      <p class="card-text">
      <%=details.description%>
      <p class="card-text">&#8377; <%= details.price.toLocaleString("en-IN")%></p>
      <p class="card-text"></p><p class="card-text"><%=details.location%></p>
      <p class="card-text"><%=details.country%></p>
    </div>
  </div> 
</div>



<% if(currUser && details.owner._id.equals(currUser._id)){ %>
<div class="btns">
  <a class="btn btn-dark col-1 offset-2" href="/listings/<%=details._id%>/edit" >Edit</a>
  
  <form method="post" action="/listings/<%=details._id%>?_method=DELETE">
      <button class="btn btn-dark offset-2 add-btn">Delete</button>
  </form>
 </div> 
<%}%>



 <div class="col-8 offset-3 mb-3">
  
  <% if(currUser) { %>
    <hr>
    <h4>Leave a Review</h4>
    <form method="post" action="/listings/<%=details._id%>/reviews" novalidate class="needs-validation">

      <div class="mb-3 mt-3">
        <label class="form-label" for="rating">Rating</label>
      <fieldset class="starability-slot">
        
        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="rating" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
    </div>

      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea name="review[comment]" class="form-control" id="comment" required cols="30" rows="5"></textarea>
        <div class="invalid-feedback">
          Please fill the Comment box
        </div>
      </div>
      <button class="btn btn-outline-dark">Submit</button>
    </form>
    <hr> 
    <% } %>
   

  <% if(details.reviews.length > 0){ %>
  <div class="row">
    <p><b>All Reviews</b></p>
  <% for(review of details.reviews){ %>
    <div class="card col-5 ms-3 mb-3">
      <h5 class="card-title">@<%= review.author.username%></h5>
      <p class="starability-result card-text" data-rating="<%= review.rating%>">
      </p>
      <p class="card-text"><%= review.comment%></p>
      <form method="post" action="/listings/<%= details._id%>/reviews/<%= review._id%>?_method=DELETE" class="mb-3">
        <button class="btn btn-dark btn-sm">Delete</button>
      </form>
    </div>
  <%}%>
  </div>
  <%}%>
</div>
<div class="col-8 offset-3 mb-3">
  <h3>Where you'll be</h3>
  <div id="map"></div>
</div>

<script src="/js/map.js"></script>
