<% layout("/layouts/boilerPlate")%>
<div class="row mt-3">
  <div class="col-8 offset-2">
  <h3><%=details.title%></h3>
</div>
  <div class="card listing-card col-6 offset-3">
    <img style="height:30vh" src="<%=details.image%>" class="card-img-top" alt="Image">
    <div class="card-body">
      <p class="card-text">
      <%=details.description%>
      <br>
      &#8377; <%= details.price.toLocaleString("en-IN")%>
      <br>
      <%=details.location%>
      <br>
      <%=details.country%>
    </p>
    </div>
  </div> 
</div>
<div class="btns">
  <a class="btn btn-dark col-1 offset-2" href="/listings/<%=details._id%>/edit" >Edit</a>
  
  <form method="post" action="/listings/<%=details._id%>?_method=DELETE">
      <button class="btn btn-dark offset-2 add-btn">Delete</button>
  </form>
 </div> 

 <div class="col-8 offset-3 mb-3">
  <hr>
    <h4>Leave a Review</h4>
    <form method="post" action="/listings/<%=details._id%>/reviews" novalidate class="needs-validation">
      <div class="mb-3 mt-3">
        <label class="form-label" for="rating">Rating</label>
        <input class="form-range" type="range" min="1" max="5" name="review[rating]">
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea name="review[comment]" class="form-control" id="comment" required cols="30" rows="5"></textarea>
        <div class="invalid-feedback">
          Please fill the Comment box
        </div>
      </div>
      <button class="btn btn-outline-dark">Submit</button>
    </form>
    <hr>

  <p><b>All Reviews</b></p>
  <div class="row">
  <% for(review of details.reviews){ %>
    <div class="card col-5 ms-3 mb-3">
      <h5 class="card-title">Rohit</h5>
      <p class="card-text"><%= review.comment%></p>
      <p class="card-text"><%= review.rating%>!stars</p>
      <form method="post" action="/listings/<%= details._id%>/reviews/<%= review._id%>?_method=DELETE" class="mb-3">
        <button class="btn btn-dark btn-sm">Delete</button>
      </form>
    </div>
  <%}%>
  </div>
</div>

